$body-font-family: Arial, Helvetica, sans-serif !default;

$row-width: rem-calc(1024) !default;
$column-gutter: rem-calc(20) !default;
$total-columns: 24 !default;

$block-grid-elements: 10 !default;
$block-grid-default-spacing: 20px !default;

$lineHeight: rem(16) !default;

// $spaceBetweenBlocks: rem(20) !default;

// $inputHeight: rem(35) !default;

$imgPathComponent: 'img/';  // шлях до зображень із html-компонентів
$imgPathSCSS: '../img/';	 // шлях до зображень із vue-компонентів та scss файлів
