<template>
  <div id="app">
    <h1 class="title">Курс криптовалюты</h1>
    <div class="item topHeader">
      <div class="img"></div>
      <div class="name">Название крипты</div>
      <div class="price">Цена / токен</div>
      <div class="supply">Количество токенов</div>
    </div>
    <div 
      v-if="laodData" 
      class="item"
      v-for="(item, i) in laodData" :key="i">
      <div class="img">
        <img :src="`https://www.cryptocompare.com/${item.CoinInfo.ImageUrl}`" alt="">
      </div>
      <div class="name">
        <p>
          {{item.CoinInfo.FullName}}
        </p>
        <p>
          {{item.CoinInfo.Name}}
        </p>
      </div>
      <div class="price">
        {{item.DISPLAY.USD.PRICE}}
      </div>
      <div class="supply">
        {{item.DISPLAY.USD.SUPPLY}} 
      </div>
    </div>
    
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      localApi: {},
    }
  },
  computed: {
    laodData(){
      return this.localApi.data ? this.Sort(this.localApi.data.Data) : {}
    }
  },
  methods:{
    async loadAPI() {
      try{
          this.localApi = await axios("https://min-api.cryptocompare.com/data/top/mktcapfull?limit=20&tsym=USD");
      }catch(err){
          throw(err);
      }
    },
    Sort(data){
      let tmp = data.slice().sort((a, b) => {
        a = a.RAW.USD.PRICE;
        b = b.RAW.USD.PRICE;
        return (a === b ? 0 : a > b ? 1 : -1)
      })
      return tmp
    }
  },
  created(){
    this.loadAPI();
    setInterval(() => {
      this.loadAPI();
    }, 300000)
  }
}
</script>

<style lang="scss">
  body{
    background-color: #F2F2F2;
  }
  #app {
    h1{
      text-align: center;
      margin: 30px 0;
    }
    .item{
      max-width: 768px;
      margin: 10px auto;
      display: flex;
      background-color: #fff;
      border-radius: 5px;
    }
    .img{
      min-width: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        width: 30px;
      }
    }
    .name, .price, .supply{
      flex-basis: calc(100% - 70px);
      align-self: center;
      p{
        text-align: left;
      }
    }
  }

</style>
